@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,600;1,100&family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

/* Start landing section */
.landing {
  display: flex;
  margin: 100px 50px 500px 50px;
  gap: 30px;
  /* border: 1px solid red; */
}

.landing-left {
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: #eefcf4;
  color: black;
  height: 90vh;
  padding: 30px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container h1 {
  font-weight: 500;
  font-size: 3rem;
  padding-left: 20px;
}
.logo-container i {
  border: 1px solid black;
  padding: 20px;
  border-radius: 50px;
  font-size: 4rem;
}

#blurb {
  margin: 100px 40px 10px 10px;
  font-size: 2rem;
}

.social-links {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  font-size: 3rem;
}
/* Start Navbar */
.landing-right {
  flex: 3;

  display: flex;
  color: white;

  text-align: end;
  justify-content: flex-end;

  font-size: 2.8rem;
}
a {
  text-decoration: none;
  color: black;
}
.navbar {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  position: fixed;
}
.mobile {
  display: none;
}
/* styling source: https://codepen.io/team/css-tricks/pen/gOXMgxR */
.navbar a {
  color: white;
  text-decoration: none;
  background: linear-gradient(
      to right,
      rgba(100, 200, 200, 0),
      rgba(100, 200, 200, 0)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
a:hover {
  background-size: 0 3px, 100% 3px;
}
.navbar.hide {
  display: none;
}
.navbar li {
  color: white;
  list-style: none;
}

/* Start About Section */
.about-container {
  margin: 100px 50px 500px 50px;

  width: max-content;
}
.about-cards {
  display: flex;
  align-items: center;
  padding-top: 70px;
}

.about-card-left {
  background-color: blue;

  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  margin: 30px;
}
.about-card-left-exp-container {
  display: flex;
  font-size: 2rem;
  gap: 12.6px;
}

.exp-container {
  /* border: 1px solid rgb(139, 5, 5); */
  border-left: 1px solid white;
  color: rgb(27, 26, 25);
  margin: 15px;
  font-size: 1.1rem;
  padding: 3px;
  font-weight: 500;
}

.about-card-right {
  display: flex;
  flex-direction: column;
}
.about-card-right-1 {
  background-color: green;
  height: 300px;
  width: 300px;
  margin-bottom: 30px;
  display: flex;
}
.about-card-right-1 p {
  font-size: 3rem;
  /* margin: 10px; */
}
.about-card-right-1 p:nth-child(1) {
  margin-top: 30px;
}
.about-card-right-1-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  padding: 6px;
}
.about-card-right-1-info:nth-child(2) {
  padding-left: 35px;
}

.about-card-right-1-info i {
  font-size: 4rem;
  color: black;
}

.about-card-right-1-info p {
  font-size: 0.5em;
  color: black;
  text-align: center;
  color: white;
}
.about-card-right-2 {
  background-color: rgb(209, 209, 17);
  height: 300px;
  width: 300px;
}

.interests-text {
  font-size: 2.6rem;
  display: flex;
  gap: 10px;
}

.interest-info {
  display: flex;
  border: 3px solid rgb(165, 182, 12);
  border-radius: 20px;
  margin: 30px;
  padding: 10px;
  color: black;
  text-transform: uppercase;
  justify-content: center;
}
.about.show {
  background-color: red;
}
.port.show {
  background-color: red;
}
#meep {
  margin: 500px 0 500px 0;
}

/*====================================================================================*/
/* Start Mobile View*/
.mobile {
  display: none;
}
.mobile-bar {
  display: none;
}
/*====================================================================================*/
/* Media Queries Desktop */

/* Media Queries Tablet or smaller Desktop */
/* @media (max-width: 1230px) {
  .landing-left {
    flex: 3;
  }
} */
@media (max-height: 700px) {
  #blurb {
    margin: 40px 40px 10px 10px;
    font-size: 1.6rem;
  }

  .social-links {
    margin-top: 40px;
    /* border: 10px solid yellow; */
  }
}
@media (max-height: 600px) {
  #blurb {
    margin: 10px 40px 10px 10px;
    font-size: 1rem;
  }

  .social-links {
    margin-top: 0px;
    /* border: 10px solid green; */
  }
}
@media (max-width: 1300px) {
  body {
    /* background-color: red; */
  }
  .landing-left {
    /* border: 10px solid black; */
  }
  .social-links {
    margin-top: 50px;
  }
}
@media (max-width: 970px) {
  body {
    /* background-color: pink; */
  }
  #blurb {
    margin: 10px 40px 10px 10px;
    font-size: 1.7rem;
  }
  .social-links {
    margin-top: 30px;
  }
}

/* @media (max-width: 850px) {
  .landing-left {
    flex: 4;
  }
} */
/* Media Queries mobile */
@media (max-width: 970px) {
  body {
    /* background-color: red; */
  }

  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .navbar-mobile {
    display: flex;
    overflow-x: hidden;
  }
  .landing-mobile {
    display: flex;
    color: white;
  }
  .logo-mobile {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
  }
  .logo-mobile.hide {
    display: none;
  }

  /* make the links appear on click*/
  .mobile-bar li {
    list-style-type: none;
  }
  .mobile-bar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  header {
  }
  header.toggle {
    top: 0;
    position: sticky;
  }
  .mobile-bar.show {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    padding: 40px;

    background-color: rgb(180, 245, 186);
  } /* end */

  /* Start mobile landing container */
  .landing-mobile-container {
    background-color: rgb(199, 211, 200);
    margin: 30px;
    height: 47vh;
  } /* end */
  .landing-mobile-grid {
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    overflow-x: hidden;
    padding: 30px;
  } /* end */
  .landing-mobile-grid p {
    color: black;
    /* font-size: 2rem; */
  }
  .landing-mobile-bar-1 {
    background-color: rgb(55, 82, 67);
    height: 5vh;
  }
  .landing-mobile-bar-2 {
    background-color: rgb(55, 82, 67);
    height: 30vh;
    width: 10vw;
  }
  .landing-mobile-content {
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    /* margin: 10px; */
  }
  #landing-mobile-info {
    font-size: 2rem;
  }
}

.yuup {
  color: yellow;
}
